---

---

<header>
  <div class='flex bg-black text-white h-[40px] justify-center items-center'>
    <h6>Servicios de ciberseguridad y más</h6>
  </div>
  <nav
    class='flex justify-between items-center px-6 h-[100px] bg-gradient-to-l from-[#02317a] from-0% to-[#017cad] to-[100%]'
  >
    <div>
      <a href='/'><img src='./logo.png' alt='Logo' /></a>
    </div>
    <ul class='flex gap-5'>
      <li>
        <a
          href='/servicios'
          class='text-[#00e0f5] text-xl transition ease-in-out delay-100 hover:transition-all hover:scale-110 duration-300'
          >Servicios</a
        >
      </li>
      <li>
        <a href='/sobre-nosotros' class='text-[#00e0f5] text-xl'
          >Sobre nosotros</a
        >
      </li>
      <li>
        <a href='/contactanos' class='text-[#00e0f5] text-xl'>Contáctanos</a>
      </li>
    </ul>
  </nav>
</header>
